// 声音主播
.dj-radios() {
  .head2 {
    margin-top: 16px;
    padding-bottom: 6px;
    border-bottom: 1px solid #dadada;
    line-height: 17px;
    font-weight: bold;
  }

  .m-rdilist {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0 0 -37px;

    li {
      width: 150px;
      margin: 0 0 40px 37px;

      .u-cover-rdi2 {
        display: block;
        width: 150px;
        height: 150px;
      }

      h3 {
        margin: 13px 0 6px;
        line-height: 16px;
        font-size: 14px;
        font-weight: normal;
      }

      .f-sep {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}