// 顶部导航栏样式
@import url('~assets/css/constant.less');
@import url('./left.less');
@import url('./right.less');
@import url('./bottom-nav.less');

.top {
  min-width: 965px;
  width: 100%;

  :global {
    .top-box {
      position: relative;
      z-index: 1000;
      height: 70px;
      box-sizing: border-box;
      background: #242424;
      border-bottom: 1px solid #000;

      .top-content {
        display: flex;
        width: 1100px;
        margin: 0 auto;

        .top-left {
          .left;
        }

        .top-right {
          .right;
        }
      }
    }

    .m-subnav-up {
      .m-subnav-up;
    }

    .m-subnav {
      .m-subnav;
    }

    .high {
      color: #fff !important;
      background: #000 !important;
    }
  }
}