// 用户
.user() {
  position: relative;
  height: 45px;
  margin: 19px 0 0 20px;
  padding: 0 22px 0 0;

  &:hover {
    .m-tlist {
      display: block;
    }
  }

  // 未登录
  .login {
    display: block;
    width: 28px;
    margin-top: 8px;
    color: #787878;
  }

  // 登录后
  .head {
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: 1px;

    img {
      border-radius: 30px;
      width: 30px;
      height: 30px;
    }
  }

  // 列表
  .m-tlist {
    display: none;
    position: absolute;
    top: 38px;
    right: -43px;
    width: 158px;
    background: #2b2b2b;
    border: 1px solid #202020;
    box-shadow: 0 8px 24px 0 rgb(0 0 0 / 50%);
    border-radius: 4px;

    &:hover {
      display: block;
    }

    li {
      box-sizing: border-box;
      width: 100%;

      a,
      span {
        display: flex;
        align-items: center;
        position: relative;
        height: 34px;
        box-sizing: border-box;
        overflow: hidden;
        padding-left: 24px;
        color: #ccc;
        line-height: 34px;

        &:hover {
          background: #353535;
          text-decoration: none;
          color: #fff;
        }

        .icn {
          width: 18px;
          height: 18px;
          margin-right: 10px;
        }
      }
    }

    .arr {
      position: absolute;
      top: -8px;
      left: 50%;
      width: 14px;
      height: 8px;
      margin-left: -8px;
      background-position: -20px 0;
    }
  }
}