// 内容展示区

.content() {
    display: flex;
    margin-top: -10px;

    .cvrwrap {
        position: relative;
        width: 206px;

        .out {
            display: flex;
            margin: 20px 0 0 46px;

            .des {
                text-decoration: underline;
            }
        }
    }

    .cnt {
        width: 414px;
    }

    // .des {
    //     margin: 10px 0;
    // }
}