// 输入框零件样式
.input-box() {
  padding: 30px 0 43px;
  width: 220px;
  margin: 0 auto;

  input {
    height: 19px;
    margin: 0;
    padding: 5px 6px 6px;
    border: @input-border;
    border-radius: 2px;
    line-height: 19px;
    box-sizing: content-box;
    outline: none;
  }

  .login-btn2 {
    box-sizing: border-box;
  }
}