// 按钮
.btn-img {
  background: url('@{img-url}/button2.png') no-repeat 0 9999px;
}

.button {
  background: url('@{img-url}/button.png') no-repeat 0 9999px;
}

.icon {
  background: url('@{img-url}/logo.png') no-repeat 0 9999px;
}

// .icon2
.icon2 {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  background: url('@{img-url}/icon2.png') no-repeat 0 9999px;
}

.icon1 {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  background: url('@{img-url}/icon.png') no-repeat 0 9999px;
}

//图标
.u-wx,
.u-qq,
.u-sn,
.u-wy {
  display: inline-block;
  vertical-align: middle;
  background: url('@{img-url}/logo.png') no-repeat 0 9999px;
}

.top {
  background: url('@{img-url}/topbar.png') no-repeat 0 9999px;
}

.r {
  background: url('@{img-url}/white-r-icon@3x.png') no-repeat 0 9999px;
}

.download {
  background: url('@{img-url}/download.png') no-repeat 0 0;
}

.police-img {
  background: url('@{img-url}/police.png') no-repeat;
}

.foot-img {
  background: url('@{img-url}/footer/foot_enter_new.png') no-repeat;
  background-size: 110px 552px;
}

.foot-font {
  background: url('@{img-url}/footer/foot_enter_tt.png') no-repeat;
  background-size: 180px 139px;
}

.v-hd2 {
  background: url('@{img-url}/index.png') no-repeat 0 9999px;
}

.iconall {
  background: url('@{img-url}/iconall.png') no-repeat;
}

.msk-coverall {
  background-position: -145px -57px;
}

// 播放条图片
.playbar-img {
  background: url('@{img-url}/playbar.png') no-repeat 0 9999px;
}

.statbar {
  background: url('@{img-url}/statbar.png') no-repeat 0 9999px;
}

// 各式遮罩衬托
.coverall {
  background: url('@{img-url}/coverall.png') no-repeat;
}

.sprite {
  background: url('@{img-url}/sprite.png') no-repeat 0 9999px;
}


.sltlyr {
  background: url('@{img-url}/sltlyr.png') no-repeat;
}

.table-img {
  background: url('@{img-url}/table.png') no-repeat;
}

.tab {
  background: url('@{img-url}/tab.png') no-repeat 0 9999px;
}

.u-msk {
  display: inline-block;
  background: url('@{img-url}/video/mask.png') no-repeat 0 9999px;
}

.banner-shadow {
  background: url('@{img-url}/discover/banner.png') 0 9999px no-repeat;
}

.playlist_bg {
  background: url('@{img-url}/playlist_bg.png') 0 9999px no-repeat;
}

.playlist_img {
  background: url('@{img-url}/playlist.png') 0 9999px no-repeat;
}

.toplist_img {
  background: url('@{img-url}/toplist.png') 0 9999px no-repeat;
}

.mask {
  background: url('@{img-url}/ban_mask.png') no-repeat;
}