//

.icn-add {
  background-position: -88px -163px;

  &:hover {
    background-position: -88px -189px;
  }
}

.icn-share2 {
  background-position: -114px -163px;

  &:hover {
    background-position: -114px -189px;
  }
}

.icn-vol {
  background-position: -2px -248px;

  &:hover {
    background-position: -31px -248px;
  }
}

.icn-one {
  background-position: -66px -344px;

  &:hover {
    background-position: -93px -344px;
  }
}

.icn-loop {
  background-position: -3px -344px;

  &:hover {
    background-position: -33px -344px;
  }
}

.icn-shuffle {
  background-position: -66px -248px;

  &:hover {
    background-position: -93px -248px;
  }
}

.icn-volno {
  background-position: -104px -69px;

  &:hover {
    background-position: -126px -69px;
  }
}


.icn-fav {
  background-position: -44px -86px;

  &:hover {
    background-position: -44px -109px;
  }
}

.icn-share {
  background-position: -44px -136px;

  &:hover {
    background-position: -44px -159px;
  }
}

.icn-dl {
  background-position: -81px -174px;

  &:hover {
    background-position: -104px -174px;
  }
}

.icn-hm {
  background-position: 0 -80px;
}

.icn-msg {
  background-position: -20px -120px;
}

.icn-lv {
  background-position: 0 -100px;
}

.icn-st {
  background-position: 0 -140px;
}

.icn-mbr {
  background-position: 0 -221px;
}

.icn-verify {
  background-position: -20px -142px;
}

.icn-ex {
  background-position: 0 -200px;
}