.m-cvrlst-7 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 20px 0 0 -29px;

  li {
    flex: 0 0 137px;
    width: 137px;
    height: 140px;
    padding: 0 0 30px 0;
    padding-left: 29px;
    overflow: hidden;
    line-height: 1.4;

    .dec {
      margin: 8px 0 3px;
      font-size: 14px;
    }

    p {
      width: 100%;
    }

    .tit {
      display: inline-block;
      max-width: 100%;
      vertical-align: middle;
    }
  }
}