// 导航栏常用样式
.u-title {
    display: flex;
    height: 40px;
    border-bottom: 2px solid #c20c0c;

    h3 {
        font-size: 24px;
        font-weight: normal;
    }

    .sub {
        margin: 10px 0 0 20px;
    }
}

.u-title-1 {
    display: flex;
    height: 33px;

    h3 {
        font-size: 20px;
        line-height: 28px;
    }
}