// 首页右侧导航栏样式
@import url('~assets/css/constant.less');

.navbar {
  :global {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 23px;
    margin: 0 20px;
    border-bottom: 1px solid #ccc;
    color: @base-color;

    a {
      font-weight: normal;
    }
  }
}