// 右边
.right() {

  .m-hdlist {
    display: flex;
    flex-wrap: wrap;
    margin-left: -25px;

    li {
      width: 50px;
      height: 92px;
      padding-left: 25px;

      .hd {
        width: 50px;
        height: 50px;
      }

      p {
        margin-top: 7px;
        text-align: center;

        .nm {
          display: inline-block;
          width: 50px;
          vertical-align: middle;
        }
      }
    }
  }
}