// 返回顶部
.back {
  :global {
    position: fixed;
    text-indent: -9999px;
    left: 50%;
    margin-left: 500px;
    bottom: 160px;
    width: 49px;
    height: 44px;
    background-position: -265px -47px !important;
  }

  &:hover {
    background-position: -325px -47px !important;
  }
}